{{{headelement}}}
<div id="mw-page-base" class="noprint"></div>
<div id="mw-head-base" class="noprint"></div>
<div id="content" class="mw-body" role="main">
	<a id="top"></a>
	{{#sitenotice}}<div id="siteNotice">{{{sitenotice}}}</div>{{/sitenotice}}
	{{{indicators}}}
	{{#if page.displayTitle}}{{! this is not valid mustache wtf}}
	<h1 id="firstHeading"
		class="firstHeading" lang="{{page.language.code}}">{{{page.displayTitle}}}</h1>
	{{/if}}
	{{! {{! $this->html( 'prebodyhtml' ) }}
	<div id="bodyContent" class="mw-body-content">
	{{#page.isArticle}}
		<div id="siteSub">{{messages.tagline}}</div>
	{{/page.isArticle}}
	<div id="contentSub" {{{userlangattributes}}}>
		{{{subtitle}}}
	</div>
	{{!
	if ( $this->data['undelete'] ) {
		}}
		{{!<div id="contentSub2"> $this->html( 'undelete' ) </div>}}
	{{!
	if ( $this->data['newtalk'] ) {
		<div class="usermessage">$this->html( 'newtalk' )</div>
	}}
	<div id="jump-to-nav" class="mw-jump">
		{{messages.jumpto}}
		<a href="#mw-head">
			{{messages.jumptonavigation}}
		</a>{{messages.comma-separator}}
		<a href="#p-search">{{messages.jumptosearch}}</a>
	</div>
	{{{bodytext}}}
	{{!

	if ( $this->data['printfooter'] ) {
		}}
		<div class="printfooter">
			{{! $this->html( 'printfooter' ); }}
		</div>
	{{!
	}

	if ( $this->data['catlinks'] ) {
		$this->html( 'catlinks' );
	}

	if ( $this->data['dataAfterContent'] ) {
		$this->html( 'dataAfterContent' );
	}
	}}
	<div class="visualClear"></div>
</div>
</div>
<div id="mw-navigation">
<h2>{{messages.navigation-heading}}</h2>

<div id="mw-head">
	{{! $this->renderNavigation( 'PERSONAL' ); }}
	<div id="left-navigation">
			<div id="p-namespaces" role="navigation" class="vectorTabs" aria-labelledby="p-namespaces-label">
				<h3 id="p-namespaces-label">Namespaces</h3>
				<ul>
					{{#namespaces}}<li id="{{id}}" class="{{class}}"><span><a href="{{href}}">{{text}}</a></span></li>{{/namespaces}}
				</ul>
				{{!<?php $this->renderAfterPortlet( 'cactions' ); ?>}}
			</div>
		</div>
		{{! $this->renderNavigation( array( 'VARIANTS' ) ); }}
	</div>
	<div id="right-navigation">
		<div id="p-views" role="navigation" class="vectorTabs" aria-labelledby="p-views-label">
			<h3 id="p-views-label">Views</h3>
			<ul>
				{{#view}}<li id="{{id}}" class="{{class}}"><span><a href="{{href}}">{{text}}</a></span></li>{{/view}}
				{{#edit}}<li id="{{id}}" class="{{class}}"><span><a href="{{href}}">{{text}}</a></span></li>{{/edit}}
				{{#history}}<li id="{{id}}" class="{{class}}"><span><a href="{{href}}">{{text}}</a></span></li>{{/history}}
				{{#actions.watch}}<li id="{{id}}" class="{{class}}"><span><a href="{{href}}" >{{text}}</a></span></li>{{/actions.watch}}
			</ul>
		</div>
		<div id="p-cactions" role="navigation" class="vectorMenu" aria-labelledby="p-cactions-label">
			<h3 id="p-cactions-label" tabindex="0"><span>More</span><a href="#" tabindex="-1"></a></h3>
			<div class="menu">
				<ul>
					{{#actions.move}}<li id="{{id}}" class="{{class}}"><span><a href="{{href}}">{{text}}</a></span></li>{{/actions.move}}
					{{#actions.delete}}<li id="{{id}}" class="{{class}}"><span><a href="{{href}}">{{text}}</a></span></li>{{/actions.delete}}
				</ul>
			</div>
		</div>
		<div id="p-search" role="search">
			<h3>
				<label for="searchInput">{{messages.search}}</label>
			</h3>

			<form action="{{wgScript}}" id="searchform">
				<div id="simpleSearch">
					<input type='hidden' name="title" value="{{searchtitle}}"/>
					{{{search.input}}}
					{{{search.buttonfulltext}}}
				</div>
			</form>
		</div>
	</div>
</div>
<div id="mw-panel">
	<div id="p-logo" role="banner">
		<a class="mw-wiki-logo" href="{{nav_urls.mainpage.href}}"
			{{! Xml::expandAttributes( Linker::tooltipAndAccesskeyAttribs( 'p-logo' ) ) }}></a>
	</div>
	{{! $this->renderPortals( $this->data['sidebar'] ); }}
</div>
<div id="footer" role="contentinfo"{{{userlangattributes}}}>
	<div id="f-list">
		{{#footerRows}}{{#.}}<span>{{{.}}}</span>{{/.}}{{/footerRows}}
	</div>
	<ul id="footer-icons" class="noprint">
		<li id="f-copyrightico">
			{{{icons.copyright}}}
		</li>
		<li id="f-poweredbyico">
			{{{icons.poweredby}}}
		</li>
	</ul>
	<div style="clear:both"></div>
</div>
{{{debug}}}
{{{bottomscripts}}}
{{{reporttime}}}
</body>
</html>