{{{SKIN_START}}}
<div id="globalWrapper">
	<div id="column-content">
		<div id="content" class="mw-body" role="main">
			<a id="top"></a>
			{{#sitenotice}}<div id="siteNotice"></div>{{/sitenotice}}
			{{{page.indicators}}}
			{{#page.displayTitle}}
			<h1 id="firstHeading"
				class="firstHeading" lang="{{page.language.code}}">{{{text}}}</h1>
			{{/page.displayTitle}}
			<div id="bodyContent" class="mw-body-content">
				<div id="siteSub">{{tagline}}</div>
					<div id="contentSub" {{#page.language}}lang="{{code}}" dir="{{dir}}"{{/page.language}}>{{{page.subtitle.text}}}</div>
					{{^undelete}}<div id="contentSub2">{{{undelete}}}</div>{{/undelete}}
					{{#newtalk}}<div class="usermessage">{{{newtalk}}}</div>{{/newtalk}}
					<div id="jump-to-nav" class="mw-jump">{{messages.jumpto}}
						<a href="#column-one">{{messages.jumptonavigation}}</a>
						{{messages.comma-separator}}
						<a href="#searchInput">{{messages.jumptosearch}}</a>
					</div>
					<!-- start content -->
					{{{page.html}}}
					{{#page.categories}}
					<div id="catlinks" class="catlinks{{#allHidden}} catlinks-allhidden{{/allHidden}}">
						{{#link}}<a href="{{href}}">{{text}}</a>: {{/link}}
						<ul id="mw-normal-catlinks" class="mw-normal-catlinks">
							{{#normal}}
							<li>{{{.}}}</li>
							{{/normal}}
						</ul>
						<ul id="mw-hidden-catlinks" class="mw-hidden-catlinks">
							{{#hidden}}
							<li>{{{.}}}</li>
							{{/hidden}}
						</ul>
					</div>
					{{/page.categories}}
					<!-- end content -->
					{{#dataAfterContent}}{{{dataAfterContent}}}{{/dataAfterContent}}
					<div class="visualClear"></div>
				</div>
			</div>
		</div>
		<div id="column-one" {{#page.language}}lang="{{code}}" dir="{{dir}}"{{/page.language}}>
			<h2>{{messages.navigation-heading}}</h2>
			<div id="p-cactions" class="portlet" role="navigation">
				<h3>{{messages.views}}</h3>

				<div class="pBody">
					<ul>
						{{#view}}<li id="{{id}}" class="{{class}}"><a href="{{href}}">{{text}}</a></li>{{/view}}
						{{#talk}}<li id="{{id}}" class="{{class}}"><a href="{{href}}">{{text}}</a></li>{{/talk}}
						{{#edit}}<li id="{{id}}" class="{{class}}"><a href="{{href}}">{{text}}</a></li>{{/edit}}
						{{#history}}<li id="{{id}}" class="{{class}}"><a href="{{href}}">{{text}}</a></li>{{/history}}
						{{#move}}<li id="{{id}}" class="{{class}}"><a href="{{href}}">{{text}}</a></li>{{/move}}
						{{#watch}}<li id="{{id}}" class="{{class}}"><a href="{{href}}" >{{text}}</a></li>{{/watch}}
						{{#delete}}<li id="{{id}}" class="{{class}}"><a href="{{href}}">{{text}}</a></li>{{/delete}}
					</ul>
					{{!<?php $this->renderAfterPortlet( 'cactions' ); ?>}}
				</div>
			</div>
			
			<div class="portlet" id="p-personal" role="navigation">
				<h3>{{messages.personaltools}}</h3>
				<div class="pBody">
					<ul {{#page.language}}lang="{{code}}" dir="{{dir}}"{{/page.language}}>
						{{#menu.personal}}
						<li id="pt-{{name}}">
							<a href="{{href}}" class="{{class}}">{{^badge}}{{text}}{{/badge}}{{badge}}</a>
						</li>
						{{/menu.personal}}
					</ul>
				</div>
			</div>
			<div class="portlet" id="p-logo" role="banner">
				{{#site.links.mainpage}}<a href="{{href}}" class="mw-wiki-logo"></a>{{/site.links.mainpage}}
				{{! Linker::tooltipAndAccesskeyAttribs( 'p-logo' )}}
			</div>
			<div class="generated-sidebar portlet" id="p-navigation" role="navigation">
				<h3>{{messages.navigation}}</h3>
				<div class="pBody">
					<ul>
						{{#menu.primary}}
						<li>
							<a href="{{href}}" class="{{class}}">{{text}}</a>
						</li>
						{{/menu.primary}}
					</ul>
				</div>
			</div>
			<div id="p-search" class="portlet" role="search">
				<h3><label for="searchInput">{{messages.search}}</label></h3>

				<div id="searchBody" class="pBody">
					<form action="{{search.action}}" id="searchform">
						<input type='hidden' name="title" value="{{searchtitle}}"/>
						{{{search.input}}}
						{{{search.button}}}
						{{{search.buttonfulltext}}}
							<div><a href="{{searchaction}}" rel="search">{{messages.powersearch-legend}}</a></div>
					</form>
					{{! <?php $this->renderAfterPortlet( 'search' ); ?>}}
				</div>
			</div>
			<div class="portlet" id="p-tb" role="navigation">
				<h3>{{messages.toolbox}}</h3>
				<div class="pBody">
					<ul>
						{{#menu.toolbox}}
						<li>
							<a href="{{href}}" class="{{class}}">{{text}}</a>
						</li>
						{{/menu.toolbox}}
						{{!
						wfRunHooks( 'MonoBookTemplateToolboxEnd', array( &$this ) );
						wfRunHooks( 'SkinTemplateToolboxEnd', array( &$this, true ) );
						}}
					</ul>
					{{! <?php $this->renderAfterPortlet( 'tb' ); ?>}}
				</div>
			</div>
			{{#page.languages}}
			<div id="p-lang" class="portlet" role="navigation">
				<h3 {{#current}}lang="{{code}}" dir="{{dir}}"{{/current}}>{{heading}}</h3>
				<div class="pBody">
					<ul>
						{{#links}}
						<li>
							<a href="{{href}}" class="{{class}}">{{text}}</a>
						</li>
						{{/links}}
					</ul>
					{{! <?php $this->renderAfterPortlet( 'lang' ); }}
				</div>
			</div>
			{{/page.languages}}
		</div><!-- end of the left (by default at least) column -->
		<div class="visualClear"></div>
		{{! TODO: Footer}}
		<div id="footer" role="contentinfo" {{#page.language}}lang="{{code}}" dir="{{dir}}"{{/page.language}}>
			<div id="f-copyrightico">
				{{{site.copyright}}}
			</div>
			<div id="f-poweredbyico">
				{{{site.poweredby}}}
			</div>
			<ul id="f-list">
				{{#footer.info}}{{#.}}<li class="info">{{{.}}}</li>{{/.}}{{/footer.info}}
				{{#footer.places}}{{#.}}<li>{{{.}}}</li>{{/.}}{{/footer.places}}
			</ul>
		</div>
	</div>
{{{SKIN_END}}}
