{{{headelement}}}
		<nav class="personal">
			{{#personalUrls}}
			<a href="{{href}}" class="{{class}}">{{text}}</a>
			{{/personalUrls}}
		</nav>
		<nav class="site">
			{{{page.toc}}}
			<h2>{{sitename}}</h2>
			<ul>
				{{#sidebarPrimaryLinks}}
				<li>
					<a href="{{href}}" class="{{class}}">{{text}}</a>
				</li>
				{{/sidebarPrimaryLinks}}
			</ul>
			<h2>{{messages.otherlanguages}}</h2>
			<ul>
				{{#languageUrls}}
				<li>
					<a href="{{href}}" class="{{class}}">{{text}}</a>
				</li>
				{{/languageUrls}}
			</ul>
			<h2>{{messages.toolbox}}</h2>
			<ul>
				{{#toolboxUrls}}
				<li>
					<a href="{{href}}" class="{{class}}">{{text}}</a>
				</li>
				{{/toolboxUrls}}
			</ul>
			{{{icons.poweredby}}}
		</nav>
		<h1>{{{page.displayTitle}}}</h1>
		<div class="container-dali">
			<a class="lastmodbar" href="{{history.href}}">{{history.info}}</a>
			<div class="content">{{{bodytext}}}</div>
		</div>
		<div class="actions">
			{{#namespaces}}<a href="{{href}}" class="{{class}}">{{text}}</a> {{/namespaces}}
			<hr>
			{{#edit}}<a href="{{href}}" class="{{class}}">{{text}}</a>{{/edit}}
			{{#actions}}
				{{#watch}}<a href="{{href}}" class="{{class}}">{{text}}</a>{{/watch}}
				{{#move}}<a href="{{href}}" class="{{class}}">{{text}}</a>{{/move}}
				{{#delete}}<a href="{{href}}" class="{{class}}">{{text}}</a>{{/delete}}
			{{/actions}}
		</div>
		<footer>
			{{#footerRows}}
				<div>
					{{#.}}{{{.}}} {{/.}}
				</div>
			{{/footerRows}}
		</footer>
	</body>
	{{{bottomscripts}}}
</html>
