{{{SKIN_START}}}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.links.mainpage.href}}">{{site.name}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
									{{#menu.primary}}
									<li>
										<a href="{{href}}" class="{{class}}">{{text}}</a>
									</li>
									{{/menu.primary}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        {{#page.displayTitle}}<h1>{{{text}}}</h1>{{/page.displayTitle}}
                        <hr class="small">
                        {{#page.subtitle}}<span class="subheading">{{{text}}}</span>{{/page.subtitle}}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
									{{{page.html}}}
                    <p class="post-meta">
                    	 {{#history}}<a href="{{href}}" class="subheading">{{info}}</a>{{/history}}
                    </p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
										{{#edit}}
										<li class="next" id="{{id}}">
											<a href="{{href}}" class="{{class}}">{{text}}</a>
										</li>
										{{/edit}}
										{{#watch}}
										<li class="next" id="{{id}}">
											<a href="{{href}}" class="{{class}}">{{text}}</a>
										</li>
										{{/watch}}
										{{#page.languages}}
										<li class="next">
											<a href="{{href}}" class="mw-ui-button button {{languageSelector}}">{{heading}}</a>
										</li>
										{{/page.languages}}
										{{#talk}}
										<li class="next">
											<a href="{{href}}" class="{{class}}">{{text}}</a>
										</li>
										{{/talk}}
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">
                     <br>{{site.copyright}}</p>
                </div>
            </div>
        </div>
    </footer>
{{{SKIN_END}}}
